/* CSS for ForgotPassword component */

.forgot-password {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .forgot-password h2 {
    color: #0082e6;
  }
  
  .forgot-password p {
    color: #333;
    margin-top: 10px;
  }
  
  .forgot-password form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .forgot-password input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
  }
  
  .forgot-password button {
    background-color: #0082e6;
    color: white;
    padding: 12px;
    cursor: pointer;
    border: none;
  }
  
  .forgot-password button:hover {
    background-color: #006bb4;
  }
  
  .forgot-password a {
    color: #0082e6;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    font-weight: bold;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  